# ignore everything
*
# …except these tracked files
!.gitignore
!plot_roofline.py
!parse_ncu_csv.py

# allow the directory itself
!csv/
!img/
!summary/

# but only un-ignore this specific file inside it
!csv/a1-rep.csv
!img/a1_resnet18_bs64_L4.png
!summary/a1-summary.txt